Repository Azure/ARO-RP: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml, .pipelines/onebranch/pipeline.fluentbit.official.yml, .pipelines/onebranch/pipeline.installer.official.yml

.pipelines/ci.yml:
  stages:
  - stage: Set_Tag_Stage
    displayName: Set Dynamic TAG Variable
    jobs:
    - job: Set_Tag_Variable
      displayName: Set TAG Variable
      pool:
        name: 1es-aro-ci-pool
      steps:
      - checkout: self
  ...

.pipelines/codeql.yml:
  jobs:
  - job: Golang_CodeQL
    pool:
      name: 1es-aro-ci-pool
    variables:
      HOME: $(Agent.BuildDirectory)
    steps:
    - template: ./templates/template-checkout.yml
    - template: ./templates/template-codeql.yml
      parameters:
        language: go
        target: golang
  ...

.pipelines/e2e.yml:
  jobs:
  - job: E2E
    timeoutInMinutes: 180
    variables:
      ARO_PODMAN_SOCKET: tcp://localhost:8888
      ARO_SELENIUM_HOSTNAME: localhost
    pool:
      name: 1es-aro-ci-pool
    steps:
    - template: ./templates/template-checkout.yml
    - script: 'set -xe
  
  ...

.pipelines/onebranch/pipeline.fluentbit.official.yml:
  extends:
    template: v2/OneBranch.Official.CrossPlat.yml@templates
    parameters:
      featureFlags:
        LinuxHostVersion:
          Network: KS3
      globalSdl:
        policheck:
          break: true
      stages:
      - stage: BuildFluentbitImage
        displayName: Build Fluentbit Container Image
  ...

.pipelines/onebranch/pipeline.installer.official.yml:
  name: $(Date:yyyyMMdd).$(Rev:r)
  extends:
    template: v2/OneBranch.Official.CrossPlat.yml@templates
    parameters:
      featureFlags:
        LinuxHostVersion:
          Network: KS3
      globalSdl:
        policheck:
          break: true
      stages:
      - stage: BuildInstallerImage
  ...

Update OpenTelemetry images to v0.159.0 and fix collector compatibility and image version propagation. (#5091)
  .bingo/Variables.mk
  .bingo/otelcollectorbuilder.mod
  .bingo/otelcollectorbuilder.sum
  .bingo/variables.env
  Dockerfile.telemetrycollector
  Dockerfile.telemetryexporter
  go.mod
  go.sum
  telemetry/collector/manifest.yaml
  telemetry/exporter/manifest.yaml
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

ARO-29068: Stream-decode ResourceSKUs List and serialise concurrent listings
  pkg/cluster/loadbalancerinternal_test.go
  pkg/cluster/validate_test.go
  pkg/frontend/sku_test.go
  pkg/mimo/steps/cluster/migrate_internal_lb_test.go
  pkg/util/azureclient/azuresdk/armcompute/resourceskus.go
  pkg/util/azureclient/azuresdk/armcompute/resourceskus_addons.go
  pkg/util/azureclient/azuresdk/armcompute/resourceskus_addons_test.go
  pkg/util/computeskus/computeskus.go
  pkg/util/computeskus/computeskus_test.go
  pkg/util/mocks/azureclient/azuresdk/armcompute/armcompute.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

ARO-29068: Add smoke test for ResourceSKUs streaming memory usage
  hack/resourceskus-smoke/main.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

ARO-29450: retry ARM LRO failures containing "Please retry later"
  pkg/cluster/delete.go
  pkg/cluster/privatedns.go
  pkg/cluster/privatedns_test.go
  pkg/util/arm/retry_test.go
  pkg/util/azureclient/azuresdk/common/faultinjection.go
  pkg/util/azureclient/azuresdk/common/faultinjection_test.go
  pkg/util/azureclient/environments.go
  pkg/util/azureerrors/error.go
  pkg/util/azureerrors/error_test.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Update CODEOWNERS to remove @bennerv
  .github/CODEOWNERS
Due: .pipelines/codeql.yml, .pipelines/e2e.yml

clean this up and more directly say that we should use the makefile instead
  Dockerfile.ci-rp
  docs/agent-guides/build.md
  docs/agent-guides/multi-module-build.md
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

remove coverage in subfolders
  .gitignore
Due: .pipelines/codeql.yml, .pipelines/e2e.yml

delete the log search docs as this does not belong in this repo
  docs/ai/classic-log-search.md
Due: none

hopefully make copilot shush
  docs/agent-guides/azure-product-constraints.md
Due: none

delete outdated agent docs as well as docs that needlessly mirror the code in a way that will not be updated if the code changes.
  CLAUDE.md
  docs/agent-guides/api-type-system.md
  docs/agent-guides/azure-product-constraints.md
  docs/agent-guides/multi-module-build.md
  docs/agent-guides/package-deployment-context.md
  docs/ai/classic-debugging.md
Due: .pipelines/codeql.yml, .pipelines/e2e.yml

run pkg/api tests in unit-test-go
  Makefile
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

none of this is useful
  docs/agent-guides/build.md
Due: none

also shush copilot again
  docs/agent-guides/azure-product-constraints.md
Due: none

try to add the coverage/reports from api too
  .pipelines/ci.yml
  Dockerfile.ci-rp
  Makefile
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Fix grammatical error in Makefile section
  docs/agent-guides/build.md
Due: none

rename and correct things
  AGENTS.md
Due: .pipelines/codeql.yml, .pipelines/e2e.yml

[ARO-28425] Stop duplicate gateway otel collector journal logs (#5053)
  pkg/deploy/assets/gateway-production.json
  pkg/deploy/assets/rp-production.json
  pkg/deploy/generator/scripts/gatewayVMSS.sh
  pkg/deploy/generator/scripts/util-services.sh
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Replace custom multi-error joining with errors.Join
  pkg/cluster/loadbalancerprofile.go
  pkg/cluster/loadbalancerprofile_test.go
  pkg/operator/controllers/checkers/internetchecker/checker.go
  pkg/operator/controllers/subnets/subnets_controller.go
  pkg/util/deployer/deployer.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

address copilot review: preserve error chain in checkers.go
  pkg/operator/controllers/checkers/internetchecker/checker.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Wrap error headers and add subnet identity
  pkg/cluster/loadbalancerprofile.go
  pkg/cluster/loadbalancerprofile_test.go
  pkg/operator/controllers/subnets/subnets_controller.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Adding CSP Contributor role granting in AdminUpdate
  pkg/frontend/admin_openshiftcluster_ensurecsprbac.go
  pkg/frontend/adminactions/azureactions.go
  pkg/frontend/adminactions/ensurecsprbac_test.go
  pkg/frontend/frontend.go
  pkg/util/mocks/adminactions/azureactions.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Declare yaml as a direct portal devDependency to stop lockfile drift
  portal/v2/package-lock.json
  portal/v2/package.json
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Fix resourceID extraction from URL path
  pkg/frontend/admin_openshiftcluster_ensurecsprbac.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Making e2e tests run in internal msft subscriptions
  pkg/util/cluster/cluster.go
  test/e2e/setup.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

merge the test results
  .pipelines/ci.yml
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

fix coverpkg because this should be running on every package for real coverage metrics
  Dockerfile.ci-rp
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

added unit tests
  pkg/util/clienthelper/clienthelper_test.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

format go
  .bingo/bingo.mod
  .bingo/client-gen.mod
  .bingo/controller-gen.mod
  .bingo/enumer.mod
  pkg/util/clienthelper/clienthelper_test.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

bingo
  .bingo/bingo.mod
  .bingo/client-gen.mod
  .bingo/controller-gen.mod
  .bingo/enumer.mod
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

enabling the capacity to modify as needed
  pkg/util/clienthelper/clienthelper.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Fix documentation for MachineHealthCheck controller
  pkg/operator/controllers/machinehealthcheck/doc.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

added new logic in the controller
  cmd/aro/operator.go
  pkg/operator/controllers/machinehealthcheck/machinehealthcheck_controller.go
  pkg/operator/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
  pkg/util/clienthelper/clienthelper.go
  pkg/util/clienthelper/clienthelper_test.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Reconcile MHC maxUnhealthy and selectors in-controller; remove YAML embed
  pkg/operator/controllers/machinehealthcheck/doc.go
  pkg/operator/controllers/machinehealthcheck/machinehealthcheck_controller.go
  pkg/operator/controllers/machinehealthcheck/staticresources/machinehealthcheck.yaml
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Add controller reference to MHC for garbage collection
  pkg/operator/controllers/machinehealthcheck/machinehealthcheck_controller.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Use variable names for MachineHealthCheck metadata
  pkg/operator/controllers/machinehealthcheck/machinehealthcheck_controller.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

updated the doc.go
  pkg/operator/controllers/machinehealthcheck/doc.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Improve ensureRequiredSelectors logic
  pkg/operator/controllers/machinehealthcheck/machinehealthcheck_controller.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

clarified variables, fixed the duplication of testing during rebase
  pkg/operator/controllers/machinehealthcheck/machinehealthcheck_controller.go
  pkg/operator/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

using testlog instead of logrus
  .bingo/go.mod
  pkg/operator/controllers/machinehealthcheck/machinehealthcheck_controller_test.go
Due: .pipelines/ci.yml, .pipelines/codeql.yml, .pipelines/e2e.yml

Path conditions:
  .pipelines/ci.yml: any file but: docs, **/*.md, LICENSE, LICENSE.txt, .gitignore, OWNERS, .github/CODEOWNERS, .github/PULL_REQUEST_TEMPLATE.md, .github/dependabot.yml, .github/workflows/check-coverage.yml, .github/workflows/codeql-analysis.yml, .github/workflows/maintenance.yml, .github/workflows/npm-audit.yml, .github/workflows/prune-tags.yml, .github/workflows/release-note.yml, .github/workflows/yamllint.yml
  .pipelines/codeql.yml: any file but: docs
  .pipelines/e2e.yml: any file but: docs
  .pipelines/onebranch/pipeline.fluentbit.official.yml: any of: Dockerfile.fluentbit, .pipelines/onebranch/pipeline.fluentbit.official.yml, .pipelines/onebranch/templates/template-build-fluentbit.yml
  .pipelines/onebranch/pipeline.installer.official.yml: any of: .pipelines/onebranch/pipeline.installer.official.yml, .pipelines/onebranch/templates/template-build-installer.yml
